@import '../../../variables';

.add-item {
    .popup-container.overlay {
        overflow: hidden;
        min-height: 400px;
        display: flex;
        justify-content: flex-start;
    }

    .empty {
        height: 100px;
    }
}

.popup-header {
    width: 100%;
    height: fit-content;
    position: relative;
}

.popup-title {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding-top: 8px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
    font-family: 'Publica Play Bold';
    white-space: nowrap;
    font-size: 18px;
}

.back svg {
    position: absolute;
    fill: black;
    width: 15px;
    top: 50%;
    transform: translateY((-50%));
    left: 10px;
    cursor: pointer;
}

.clothes-upload {
    fill: #3D4D66;
    fill-opacity: 0.7;
    background-color: #C0C5CD;
    padding: 15px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sub-btn  {
    border: none;
    cursor: pointer;
}

.sub-btn label {
    cursor: pointer;
}

.or {
    font-size: 12px;
}

.popup-content.bottom {
    padding: 30px;
}

.basic-nav.popup {
    gap: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 700;
    color: grey;

    .active {
        text-decoration: none;
        color: black
    }
}

#image-upload {
    display: none
}

.loading.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 145;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 240px;

    background-color: #23325A;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 13px;
    border-radius: 30px;
}

.add-item .loading .progress-bar {
    height: 10px;
    border-radius: 10px;
    transition: width 0.5s ease;
    background-color: white;
}

.active-drag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6b799fb5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 20px;
    
    h1 {
      color: white;
      font-size: 2rem;
    }
}

.database {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
    // overflow: hidden;

    .search-filter {
        gap: 30px;
        padding-bottom: 10px;

        .search-bar {
            margin-top: 5px;

            hr {
                border-left: 1px solid rgba(0, 0, 0, 0.3);
                height: 14px;
                width: 0px;
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY((-50%));
            }

            input {
                font-size: 12px;
            }
        }
    }

    .items {
        overflow: auto;
        flex: 1;

        .item-wrapper {
            cursor: pointer;
        }
    }

    .popup-container.filter {
        height: 60%;
    }

    .circle-check {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: black;
    }

    .num-selected {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        background-color: black;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 13px;
    }

    .continue {
        position: absolute;
        bottom: 10px;
        right: 15px;
        background-color: black;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        cursor: pointer;
        transition: outline 0.2s ease-in-out;

        &:hover {
            outline: 3px solid rgb(234, 234, 234);
        }

        svg {
            height: 15px;
            width: 15px;
        }
    }
}