.post-details .popup-content {
    width: fit-content
}

.post-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 38px;
    justify-content: center;
}

.post-details .popup-container.overlay .popup-content hr {
    width: 95%;
    border: none;
    border-top: 0.3px solid rgba(0, 0, 0, 0.68);
}

.post-header img {
    width: 30px;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.post-header img:hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.327); 
}

.post-header p {
    font-family: 'Publica Play Bold';
    font-size: 19px;
}

.post-content {
    display: flex;
    gap: 30px;
    padding: 8px 12px
}

.post-content .outfit {
    width: fit-content;
    height: fit-content;
}

.post-content .outfit canvas {
    display: block;
    border-radius: 30px;
    outline: 1px solid #e7e7e798;
}

.save-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.save-bar p {
    font-size: 15px;
}

.save-bar svg {
    width: 18px
}

.toolbar-icon.like {
    display: flex;
    flex-direction: row;
    gap: 7px
}

.save-btn {
    background-color: #7187ab76;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 7px;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

    svg {
        width: 14px;
        height: 15px
    }
}

.post-details .save-bar .board-save {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 150;
    height: fit-content;
    max-height: 200px;
    width: 68%;

    .sub-btn.new-board p {
        font-size: 12px;
    }
}

.save-btn p {
    font-size: 14px;
}

.save-btn:hover {
    background-color: #7187ab93;
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-content h1{
    font-family: 'Publica Play Bold';
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding-top: 20px;
}

.description {
    text-align: left;
    color: grey;
    font-size: 15px;
    padding: 20px 0 0 7px 
}

.post-details h1 {
    padding: 20px 0 0 7px
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
    position: relative;
}

.post-details .popup-content .items-wrapper .post-item hr {
    margin-top: 8px;
    box-sizing: border-box;
    border-top: 1px solid grey;
    border-color: rgba(211, 211, 211, 0.499)
}

.post-item-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    isolation: isolate;
    gap: 2px;
    height: 100%;
}

.post-item {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 14px;
    cursor: pointer;
}

.item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: fit-content;
    box-sizing: border-box;
    padding: 5px 7px;
    gap: 150px;
    cursor: pointer;
    width: 100%;
}

.item-top p {
    white-space: nowrap;
}

.item-arrow svg {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-top:hover, .item-top.active {
    background-color: #d9d9d921;
}

.quick-add {
    display: flex;

    svg, img {
        width: 16px
    }
}

.post-item-det {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border: 1px solid #f2f2f298;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
    overflow: hidden;
}

.post-item-det .quick-add{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 70px;
    box-sizing: border-box;

    .toolbar-icon {
        display: flex;
        gap: 5px;
        width: 65px;

        p {
            text-align: center;
        }
    }

    svg {
        width: 30px;
        height: 30px
    }

    img {
        width: 30px;
        // height: 35px;
    }

    p {
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.post-item-det.show {
    transform: translateX(0);
}

.post-item-det .item-arrow {
    position: absolute;
    left: 10px;
    top: 20px;
    cursor: pointer;
}

.post-item-det .item-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    align-items: flex-start;
}

.item-header p {
    font-size: 13px;
}

.item-header .circle {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 10px;
    top: 20px;
    outline: 1px solid rgb(238, 238, 238)
}

.post-item-det h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    padding-left: 0
}

.item-link {
    background-color: black;
    padding: 2px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    margin-top: 5px;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 70%;

    a {
        width: 90%;
        overflow: hidden;
        font-size: 13px;
        text-decoration: none;
    }

    svg {
        fill: white;
        width: 15px
    }
}

.post-details .popup-content .items-wrapper .post-item-det hr {
    border-color: rgba(211, 211, 211, 0.921)
}

.item-mid {
    display: flex;
}

.item-field-disp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    width: 100%
}

.item-field-disp label {
    font-size: 10px;
}

.item-field-disp p {
    font-size: 16px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}

.item-field-disp a {
    display: black;
    width: 90%;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

