.explore {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.explore .nav-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.explore .nav-content-wrapper {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.posts {
    column-count: 1;
    column-gap: 1.7rem;
    overflow-y: auto;
    flex: 1;
    padding: 5px 5px;
    width: 100%;
    position: relative;
}

@media (min-width: 600px) {
    .posts {
      column-count: 3;
    }
  }
  
  @media (min-width: 900px) {
    .posts {
      column-count: 4;
    }
  }
  
  @media (min-width: 1200px) {
    .posts {
      column-count: 5;
    }
  }

.post {
    break-inside: avoid;
    margin-bottom: 1.3rem;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease-in-out, all 0.3s ease;

    &:hover .post-save-bar {
        display: flex;
    }
}

.post:hover {
    transform: scale(0.99);
    transition: transform 0.2s ease-in-out;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}

.post-save-bar {
    position: absolute;
    display: none;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    font-size: 12px;

    &.active {
        display: flex;

        .save-btn {
            background-color: #d1d0d0b8;
        }
    }
}

.like-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ebebeb98;
    border-radius: 15px;
    padding: 5px 9px 5px 7px;
    cursor: pointer;
}

.like-btn svg, .post .save-btn svg {
    height: 15px;
}

.post .save-btn p{
    font-size: 12px;
    font-weight: 500;
}

.post .save-btn {
    background-color: #ebebeb98;
    padding: 3px 7px 3px 3px;
    justify-content: center;
    align-items: center;
}

.post .save-btn:hover, .like-btn:hover {
    background-color: #d1d0d0b8;
}

.explore .loading {
    position: absolute;
    bottom: 0;
}

.board-save {
    position: absolute;
    bottom: 43px;
    right: 10px;
}


