.add-board {
    z-index: 1000;
}

.add-board input, .add-board textarea {
    padding: 10px;
    border: 0.5px solid lightgray;
    outline: none;
    border-radius: 5px;
    margin: 0;
    font-size: 15px;
    width: 300px;
    color: black
}

.add-board h1 {
    letter-spacing: 0.5px;
    font-size: 28px;
}

.add-board label {
    font-size: 13px;
    padding: 0;
}

.add-board .popup-container.overlay .popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding: 10px 15px
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}

.delete-board {
    font-size: 12px;
    color: red;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}