.create-outlet {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-content-wrapper.basic {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 5px;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 0px;
    box-sizing: border-box;
    height: 100%;
}