.popup-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px black solid;
    border-radius: 30px;
    padding: 15px;
    gap: 7px;
    z-index: 98;
}

.popup-name {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.popup-username {
    font-size: 13px;
    color: grey;
    text-align: center;
}

.popup-container p{
    margin: 0
}

.follow {
    display: flex;
    font-size: 13px;
    white-space: nowrap;
    font-weight: 500;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup-container hr {
    width: 90%
}

.sub-btn {
    display: flex;
    white-space: nowrap;
    gap: 5px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: none;
}

.sub-btn a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px
}

.sub-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub-btn svg {
    fill: black;
    width: 15px;
}