.popup-container.add-tag {
    border-radius: 10px;
}

.popup-container.add-tag input {
    outline: 0.5px solid rgba(128, 128, 128, 0.433);
}

.tag-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.tag-details {
    display: flex;
    position: absolute;
    height: fit-content;
    top: 20px;
}

.tag-detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.create-tag {
    display: flex;
    gap: 5px;
}

.more-details {
    position: relative;
}

.tag-detail .sub-btn {
    width: 90%;
}