.home {
    height: 100vh;
    overflow: hidden;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    gap: 30px;
    box-sizing: border-box;
    padding: 0 50px;
    overflow: auto;
    // background-color: pink;
}

.home hr {
    margin: 0;
}

.left-home {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 300px;
}

.bg-text {
    color: rgba(0, 0, 0, 0.03);
    font-size: clamp(150px, 20vw, 320px);
    font-family: 'Publica Play Bold';
    text-align: left;
    max-width: 620px;
    word-break: break-all;
    position: absolute;
    line-height: clamp(150px, 20vw, 230px);
    z-index: 0;
    left: 40px;
    white-space: nowrap;
    height: fit-content;
}

.front-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.main-text{
    font-size: clamp(30px, 10vw, 55px);
    font-weight: 700;
}

.sub-text {
    a {
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out ;
        font-size: 18px;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 1px;

        &:hover svg{
            transform: translateX(10px);
            transition: transform 0.5s ease-in-out ;
        }
    }
}

.right-home {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(10px, 20vw, 20px)
}

.tops {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.bottoms {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.home img {
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2)); 
}

.sample-fit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sample-fit > img {
    align-self: center;
}

// * {
//     outline: 1px solid green;
// }

#knit, #sweats, #skirt, #tank{
    opacity: 0.5;
}

#knit {
    height: 190px;
    width: auto;
}

#tank {
    height: 160px;
    width: auto;
}

#skirt {
    height: 300px;
    width: auto;
}

#sweats {
    height: 290px;
    width: auto;
}

#blouse {
    height: 210px;
    width: auto;
}

#jeans {
    height: 330px;
    width: auto;
}