.board-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    .nav-content {
        display: flex;
        flex: 1;
        overflow: hidden;
    }
    
    .nav-content-wrapper {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .board-header {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .board-title-edit {
            display: flex;
            align-items: center;
            gap: 20px;

            svg {
                height: 20px;
                display: none;
            }

            &:hover {
                svg {
                    display: flex;
                    cursor: pointer;
                }
            }
        }

        h1 {
            font-family: 'Publica Play Bold';
            font-weight: 500;
            letter-spacing: 0.5px;
        }

        .numsaved {
            display: flex;
            align-items: center;
            gap: 3px;

            svg {
                transform: rotate(-30deg);
                height: 17px;
                fill: grey;
            }

            p {
                color: grey
            }
        }

        hr {
            width: 20%;
        }

        .board-desc {
            margin-top: 15px;
            max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(0, 0, 0, 0.59);
            width: 50%;
        }
    }

    .empty {
        margin: 0;
    }
}