@import '../../../variables';

.home-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 100vw;
    height: 7vh;
}

.left-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 28px;
    left: 5px;
}

.home-nav-bar h1 {
    font-family: 'Publica Play Bold', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
}

.right-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    line-height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.home-nav-bar a {
    text-decoration: none;
    // top side bottom side
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#log-in {
    color: white; 
    background-color: #6B799F;

    &:hover {
        background-color: #5b6c9a;
    }
}

.home-nav-bar #sign-up {
    color: black;
    background-color: $light-grey;

    &:hover {
        background-color: rgb(220, 220, 220);
    }
}