.item-details .popup-content {
    max-height: 500px;
    overflow: hidden;
}

.close svg {
    position: absolute;
    fill: black;
    width: 15px;
    top: 50%;
    transform: translateY((-50%));
    right: 10px;
    top: 10px;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 0.5px solid rgba(0, 0, 0, 0.315);
}

.item-details .popup-title {
    padding-bottom: 0;
} 

.item-img-wrap {
    // background-color: pink;
    width: 180px;
    display: flex;
    justify-content: center;
}

.item-details img {
    width: 110px
}

.basic-btn {
    border-radius: 100px;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.basic-btn:hover {
    background-color: rgba(0, 0, 0, 0.145);
}

.item-details .popup-content.bottom {
    flex-direction: row;
    gap:20px;
    overflow: auto;
}

.item-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.item-field {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 320px;
    height: fit-content;
    position: relative;
}


.item-field input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 4px;
    box-sizing: border-box;
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.item-field a {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
    display: flex;
    justify-content: flex-start;
}

.item-field h1 {
    font-size: 15px;
}

.item-field svg {
    fill: black;
    width: 15px;
    cursor: pointer;
}

.right-icon {
    position: absolute;
    right: 0px;
    padding-top: 4px
}

.edit-color-wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0
}

.edit-color-field svg {
    margin-left: 74px
}

.item-field.color {
    align-items: flex-start;
    position: relative;
}

.item-field.color h1, .item-field.tags h1 {
    align-self: flex-start;
    margin: 0;
    padding-top: 3px;
    box-sizing: border-box;
}

.item-field.color h1 {
    padding-top: 8px;
}

.item-field.tags {
    width: 100%;
    position: relative;
    align-items: flex-start;
}

.tag p {
    font-size: 14px;
}

.tag {
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.tags-wrapper .tag svg {
    width: 12px;
}

.add-tag {
    position: absolute;
    bottom: 100%;
    right: 0;
    max-height: 170px;
}

.tag-details {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    width: 120px;
    
    input {
        width: 90%;
        border: none;
        padding: 3px 7px;
        border-radius: 5px;
    }
}

.item-details .tag-details .sub-btn {
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
}

.item-details .tag-details .sub-btn:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

.tags-wrapper {
    display: flex;
    gap: 5px;
    width: 70%;
    flex-wrap: wrap;
}

.dollar {
    font-size: 14px;
}

.price-wrapper {
    display: flex;
    align-items: center;
}

.field-name {
    width: 60px;
    text-align: left;
}

.buttons {
    display: flex;
    gap: 5px
}

.basic-btn.blue {
    background-color: #6b799fce;
    color: #ffffff;

    &:hover {
        background-color: #6B799F;
    }
}