@import '../../../variables';

.create .nav-content .nav-content-wrapper {
    width: 100%;
    // background-color: red;
    margin-right: 0;
    padding-right: 0;
    overflow: hidden;
    height: 100vh;
    gap: 0;
}

.basic-nav.create {
    font-size: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 0;
}

.basic-nav.create p {
    margin-bottom: 0;
}

.create hr {
    width: 100vw;
}

.input-wrapper {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.create input {
    border: none;
    outline: 0.5px solid rgba(128, 128, 128, 0.433);
    border-radius: 5px;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    margin-left: 5px;
}

.empty-board-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%
}

.button-wrapper {
    display: flex;
    gap: 10px;
    z-index: 50;
    position: absolute;
    bottom: 20px;
    margin-left: 25px;
    height: fit-content;
    // right: 33vw;
    // background-color: palevioletred;
}

.create .nav-content .sub-btn {
    outline: 1px solid black;
    // font-weight: 700;
}

.sub-btn.bold {
    background-color: #6B799F;
    color: white;
    height: fit-content;
    border-radius: 5px;
}

.sub-btn.bold:hover {
    background-color: #57668e;
}

.create-board {
    // background-color: pink;
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.create-wrapper {
    display: flex;
    height: 100%;
    background-color: rgba(233, 233, 233, 0.413);
    // background-color: burlywood;
}

.create-sidebar {
    background-color: white;
    // background-color: cadetblue;
    border-top-left-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: 1px solid black;
    position: relative;
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    padding-top: 20px;
    box-sizing: border-box;
}

.create-sidebar .basic-nav.sub {
    padding-left: 5px;
    gap: clamp(10px, 35px, 35px);

}

.create-sidebar .search-bar input {
    padding: 5px 22px 5px 9px;
    font-size: 12px;
    border-radius: 12px;
}

.create-sidebar .search-bar svg {
    width: 12px;
    right: 9px;
}

.image-database {
    overflow-y: auto;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.item-img-wrapper {
    width: 110px;
    height: 120px;
    cursor: pointer;
    border-radius: 10px;
    // background-color: antiquewhite;
}

.item-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: content-box;
}

#canvas {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}

.canvas-wrap {
    // background-color: pink;
    margin:0;
    height: 100vh;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1
}

.create-top {
    display: flex;
    align-items: center;
    position: relative;
}

.toolbar {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbar hr {
    border-left: 2px solid black;
    height: 12px;
    width: 0px
}

.toolbar p {
    font-weight: 600;
    font-size: 20px;
    padding: 0px 3px;
}

.toolbar-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px;
    position: relative;
}

.toolbar-icon:hover, .toolbar-icon.active, .toolbar-icon.sub.active {
    background-color: rgba(206, 206, 206, 0.295);
}

.toolbar svg {
    height: 25px;
}

.toolbar.sub {
    position: absolute;
    top: 110%;
    // left: 50px;
    right: 0;
    z-index: 50;
    gap: 7px;
}

.toolbar.sub.color {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 5px 5px 5px 5px;
    left:auto;
    right: 0;
}

.toolbar.sub.color .circle {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.toolbar.sub.color .circle:hover {
    transform: scale(0.95);
    transition: 0.1s ease;
}

.edit-color {
    position: relative;
    display: flex;
    align-items: center;
}

.toolbar.sub.color .color-input {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    position: relative;
}

.toolbar.sub.color svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: white;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}

.font-select {
    font-size: 12px; 
    white-space: nowrap;
    text-overflow:clip;
}

.toolbar-icon.sub p {
    font-size: 8px;
    font-weight: 500;
}

.context-menu {
    background-color: black;
    font-size: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
}

.context-menu svg {
    fill: white;
    width: 15px
}

.context-menu li {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 0px 5px;
    width: 98%;
}

.context-menu li:hover {
    background-color: #6B799F;
    cursor: pointer
}

.empty-closet {
    text-align: center;
    color: rgba(128, 128, 128, 0.773);
    padding: 50px 10px; 
}