.welcome-header {
    font-size: 30px;
    font-weight: 500;
}

.closet .nav-content-wrapper {
    gap: 30px
}

.closet p {
    margin: 0
}

.add img {
    width: 35px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
}

.add:hover {
    outline: 4px solid rgba(128, 128, 128, 0.276);
    transition: outline 0.2s ease-in-out;
}

.basic-nav.sub {
    font-size: 12px;
    gap: 35px;
}

.filter {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.filter svg {
    width: 17px;
}

.filter p {
    font-size: 14px;
}

.nav-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active-drag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
    h1 {
      color: white;
      font-size: 2rem;
    }
}

.toast {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #23325A;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
    color: white;
    font-size: 12px;
    border-radius: 30px;
}

.closet .progress-bar {
    height: 3px;
    border-radius: 10px;
    transition: width 0.5s ease;
    background-color: white;
}