.forgot-password .auth-content {
    gap: 25px;
    margin: 0
}

.forgot-password .auth-fields .submit {
    margin-top: 0px;
    margin-bottom: 20px;
}

.forgot-password .bottom-links {
    display: flex;
    flex-direction: column;
    // gap: 3px
}


.forgot-password .small-text {
    margin: 0px
}

.success {
    font-size: 13px;
    color: green;
    font-weight: 700;
    background-color: rgba(0, 255, 85, 0.24);
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    margin: 0
}