# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore virtualenvs
venv/
.env/
.venv/

# Ignore Docker cache files
Dockerfile.*
docker-compose.*

# Ignore OS and IDE junk
.DS_Store
*.swp
*.swo
*.log
*.idea/
.vscode/

# Ignore git repo files
.git
.gitignore
