.favorites {
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;

    .nav-content-wrapper {
        height: 100%;
        display: flex;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 20px;

        .empty {
            top: 70px
        }
    }
}
