

.td-delete {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
    padding-top: 5px;
     
    p {
        font-size: 13px;
    }
}

.td-line {
    margin: 3px 0 3px 0;
}

.td-color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 7px;
    overflow: auto;
}

.td-color .colorsP {
    margin-bottom: 3px;
    font-size: 11px;
}

.td-color-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.td-color-option p {
    font-size: 13px
}