.home {
    height: 100vh;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: spac;
    width: 100vw;
    height: 100vh;
    gap: 50px;
    padding: 20px;
    box-sizing: border-box
}

.home hr {
    margin: 0;
}

.left-home {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 300px;
}

.bg-text {
    color: rgba(0, 0, 0, 0.03);
    font-size: clamp(150px, 20vw, 320px);
    font-family: 'Publica Play Bold';
    text-align: left;
    max-width: 620px;
    word-break: break-all;
    position: absolute;
    line-height: clamp(150px, 20vw, 320px);
    z-index: 0;
    left: 0;
}

.front-text {
    position: absolute;
}

.main-text {
    color: rgb(0, 0, 0);
    font-size: clamp(40px, 5vw, 60px);
    font-weight: 700;
    line-height: 85px;
    max-width: 570px;
    line-height: normal;
}

.sub-text a{
    font-size: clamp(10px, 2vw, 20px);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
    color: black;
}

.right-home {
    flex: 1;
    overflow: hidden;
}

.tops {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.bottoms {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.home img {
    width: 200px;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2)); 
}