.account-setup .auth-content {
    gap: 35px;
}

.account-setup .sub-btn {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 5px;
    padding: 7px;
}

.account-setup .sub-btn p {
    margin: 0
}

.sub-btn.alert {
    background-color: rgba(209, 27, 27, 0.511);
    border-radius: 5px;
    color: rgb(108, 17, 17);

    &:hover {
        background-color: rgba(209, 27, 27, 0.711);
    }
}

.edit-pic-icon {
    display: flex;
    position: relative;
    gap: 0;
    cursor: pointer;
}
.edit-pic-icon .edit-icon {
    position: absolute;
    bottom: 0px;
    left: 90%;
}

.profile-pic {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 1px rgb(237, 237, 237) solid;
}

.live-validate {
    font-size: 13px;
    padding: 3px 10px 3px 10px;
    margin-top: 10px;
    width: fit-content;
    border-radius: 7px;
}

.live-validate.valid {
    background-color: rgba(0, 128, 0, 0.3);
}
.live-validate.invalid {
    background-color: rgba(151, 23, 0, 0.3);
}

.auth-field {
    .filter-choices {
        padding-top: 5px;
    }
    .tag {
        padding: 5px 15px;
        gap: 7px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.plus-msg {
    background-color: #6b799f3c;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}

.feedback {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    color: rgb(42, 42, 42)
}