.loading-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;

    p {
        font-weight: 600;
        font-size: 15px;
    }
}

.results {
    display: flex;
    align-items: center;
    gap: 40px;

    .post-item-det {
        position: fixed;
        transform: none;
        top: auto;
        left: auto;
        width: 300px;
        height: fit-content;
        background-color: white;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        padding: 10px 30px;

        .close svg{
            top: 20px;
        }

        .item-mid p {
            font-size: 15px;
        }
    }

    .outfit-text {
        // background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        max-width: 500px;

        h1 {
            font-size: 40px;
        }
    }

    .res-item {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
           transform: scale(1.05); 
           transition: transform 0.3s ease-in-out;
        }

        &.full img{
            height: 310px;
        }

        &.top {
            width: 170px;
            height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            // background-color: aliceblue;
        }}

        &.bottom img{
            width: 150px;
            // background-color: cornsilk;
        }

        &.shoe {
            // background-color: powderblue;
            width: 170px;
            height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }}
    }

    .outfit-res {
        display: flex;
        align-items: center;
        gap: 20px;
        // background-color: palevioletred;
    }

    .main-fit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 400px;
        // background-color: palegoldenrod;
    }

    .extra-fit {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        // background-color: palevioletred;
        max-width: 160px;
        row-gap: 15px;

        .res-item.extra {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .spacer {
        width: 140px;
    }

    .item-tags {
        padding-bottom: 10px;

        .tag-title {
            padding-bottom: 10px;
            p {
                font-size: 10px;
            }
        }
        .tag {
            width: fit-content;
        }
    }
}